<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <a href="/">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/contacts">CONTACTS</a>
    <a href="/services">SERVICES</a>

    <style>
        h2{
            font-size: 50px;
            font-family: 'Times New Roman', Times, serif;
            color: red;

        }
        p{
            font-size: 30px;
            color: black;
            font-family: 'Times New Roman', Times, serif;
        }
        ul, li{
            font-size: 30px;
            font-family: 'Times New Roman', Times, serif;
            color: green;
        }
    </style>
</head>
<body>
    <h2><U>ABOUT PAGE</U></h2>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam possimus,
            quae hic eius dolore? Esse soluta odit, officia excepturi quibusdam praesentium deleniti minima iste, omnis, enim voluptates. Quia, consequatur?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam possimus,
            quae hic eius dolore? Esse soluta odit, officia excepturi quibusdam praesentium deleniti minima iste, omnis, enim voluptates. Quia, consequatur?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam possimus,
            quae hic eius dolore? Esse soluta odit, officia excepturi quibusdam praesentium deleniti minima iste, omnis, enim voluptates. Quia, consequatur?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam possimus,
            quae hic eius dolore? Esse soluta odit, officia excepturi quibusdam praesentium deleniti minima iste, omnis, enim voluptates. Quia, consequatur?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam possimus,
            quae hic eius dolore? Esse soluta odit, officia excepturi quibusdam praesentium deleniti minima iste, omnis, enim voluptates. Quia, consequatur?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam possimus,
            quae hic eius dolore? Esse soluta odit, officia excepturi quibusdam praesentium deleniti minima iste, omnis, enim voluptates. Quia, consequatur?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam possimus,
            quae hic eius dolore? Esse soluta odit, officia excepturi quibusdam praesentium deleniti minima iste, omnis, enim voluptates. Quia, consequatur?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam possimus,
            quae hic eius dolore? Esse soluta odit, officia excepturi quibusdam praesentium deleniti minima iste, omnis, enim voluptates. Quia, consequatur?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam possimus,
        quae hic eius dolore? Esse soluta odit, officia excepturi quibusdam praesentium deleniti minima iste, omnis, enim voluptates. Quia, consequatur?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam possimus,
            quae hic eius dolore? Esse soluta odit, officia excepturi quibusdam praesentium deleniti minima iste, omnis, enim voluptates. Quia, consequatur?</li>
        
    </ul>
    
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam possimus,
    quae hic eius dolore? Esse soluta odit, officia excepturi quibusdam praesentium deleniti minima iste, omnis, enim voluptates. Quia, consequatur?</P>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam possimus,
    quae hic eius dolore? Esse soluta odit, officia excepturi quibusdam praesentium deleniti minima iste, omnis, enim voluptates. Quia, consequatur?</P>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam possimus,
    quae hic eius dolore? Esse soluta odit, officia excepturi quibusdam praesentium deleniti minima iste, omnis, enim voluptates. Quia, consequatur?</P>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam possimus,
    quae hic eius dolore? Esse soluta odit, officia excepturi quibusdam praesentium deleniti minima iste, omnis, enim voluptates. Quia, consequatur?</P>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam possimus,
    quae hic eius dolore? Esse soluta odit, officia excepturi quibusdam praesentium deleniti minima iste, omnis, enim voluptates. Quia, consequatur?</P>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est numquam possimus,
    quae hic eius dolore? Esse soluta odit, officia excepturi quibusdam praesentium deleniti minima iste, omnis, enim voluptates. Quia, consequatur?</P>

    
</body>
</html>